@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}



@keyframes rotateForward {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes rotateBackward {
    0% {
        transform: rotate(360deg);

    }

    50% {
        transform: rotate(180deg);

    }

    100% {
        transform: rotate(0deg);

    }
}

.logo1 {
    animation: rotateForward 1000ms cubic-bezier(.22,.68,0,1.71) infinite;
}

.logo2 {
    animation: rotateBackward 1000ms cubic-bezier(.22,.68,0,1.71) infinite;
}


.job-title {
    font-size: 30px;
}


.metric-container {
    display: flex;
    gap: 24px;
}

.metric-group {
    border: 1px solid #e5e7eb;
    padding: 12px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    align-items: center;
}

.left-section {
    width: 75%;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.description {
    font-weight: 400;
    color: #4D5761;
}

.right-section {
    width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.add-resume-btn,
.mail-reports-btn {
    display: flex;
    font-weight: 600;
    max-height: 40px;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    gap: var(--spacing-xs);
    padding: 10px 14px;
}

.mail-reports-btn {
    background-color: black;
    color: white;
}


/* progressBar.css */

@keyframes progressAnimation {
    from {
        width: 0;
    }

    to {
        width: var(--progress-width);
    }
}

.animate-progress {
    animation: progressAnimation 1s ease-out forwards;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
